<div class="encabezado">    
<h2>En HechoSound te ofrecemos la más alta calidad de paneles acústicos acompañado de diseños vivos que adornarán tu salón</h2><br>
<p><span class="xD">Escoge tu favorito entre nuestra veriedad de diseños o selecciona como quieres que sea tu diseño.</span></p><br></div>
<section id="cuadricula">
    <div class="segunda-mitad">    
    <div class="imagen">
    <h4>Diseños de hogar</h4>
    <img src="imagenes/a.png"/>
    <h5>01</h5>
    </div>
    <div class="imagen">
    <h4>Diseños de sala</h4>
    <img src="imagenes/b.png"/>
    <h5>02</h5>
    </div>
    <div class="imagen">
    <h4>Diseños de estudio</h4>
    <img src="imagenes/c.png"/>
    <h5>03</h5>
    </div></div>
    <div class="segunda-mitad"> 
    <div class="imagen">
    <h4>Decoración</h4>
    <img src="imagenes/d.png"/>
    <h5>04</h5>
    </div>
    <div class="imagen">
    <h4>Geometría</h4>
    <img src="imagenes/e.png"/>
    <h5>05</h5>
    </div>
    <div class="imagen">
    <h4>Diseños de figuras</h4>
    <img src="imagenes/f.png"/>
    <h5>06</h5>
    </div></div>
    </section>    
<div id="personalizar">
    <div><p>Escoge tu favorito entre nuestra veriedad de diseños o selecciona como quieres que sea tu diseño.</p></div>
    
    <button>Personalizar panel</button>
    </div>