        <div class="last"><h1 align="center">Diseños e Instalacines de Paneles Acústicos</h1>
        <p align="center">El acondicionamiento acústico de los espacios donde nos relacionamos y vivimos supone un bien pasivo generador de salud.</p>   </div>
        <section id="present">      
        <img class="imagen-principal" src="imagenes/principal.png" alt="Imagen Ilustrativa"/>     
        </section>
        <section id="diseños">
        <div class="imagen-de-la-derecha">   
        <div class="texto-de-arriba">    
        <h2>Diseños</h2>
        <p>Agragale elegancia a tu salón o estudio.</p>
        <img class="circular" src="imagenes/circ.jpg" alt="salon"/></div> 
        <div class="mucho-texto">
        <h2>Paneles Acústicos</h2>
        <p>Cuando pensamos en soluciones acústicas, generalmente vienen a la mente imágenes de paredes forradas de envases de cartón para huevos y paneles de espuma. Afortunadamente, hay productos que permiten revestir las paredes interiores de forma estética, mejorando al mismo tiempo la calidad acústica del espacio.

        Desde HechoSound podemos ofrecerte paneles que absorben adecuadamente la energía del sonido, creando espacios interiores elegantes que se adaptan a cualquier tipo de actividad.</p></div>
        </div></div></section>
        <section id="funcion">
        <div class="image-text">
        <img id="foto" src="imagenes/ilustrativo.png" alt="imagen"/>
        <div class="funcion">
        <h2>¿Cómo funciona?</h2>
        <p>Los paneles de absorción acústica son placas de material fonoabsorbente, es decir, son la solución a los problemas de eco y reverberación que se generan en los espacios. Además, toda la gama de paneles que empleamos cumplen la normativa al fuego, la de alérgenos y tienen un alto nivel de fonoabsorción. Estos paneles se utilizan para cubrir diversas necesidades. A continuación te presentamos algunas de sus principales funciones:
        Reducir, corregir y absorber la contaminación acústica en espacios cerrados: Al amortiguar el sonido no deseado mejora la calidad acústica y ofrece un ambiente acogedor, sobre todo en locales de ocio y entornos laborales.</p></div>
        </div></section>