<div class="cull1"> 
<div class="p30>"><h1>Instalación de paneles acùsticos</h1></div></div>

<div class="columna1"><img src="imagenes/instlacion.png" alt="imagen ilustrativa"/>
<div class="columna2">
<div><h3>Quiero instalar paneles de absorción acustica en mi local, ¿qué tengo que hacer?</h3>
<p>Para determinar la cantidad exacta de soluciones absorbentes a instalar, es necesario realizar un estudio acústico que caracterice las propiedades acústicas del recinto a tratar y los focos de ruido existentes en él. Mediante la creación de un modelo acústico donde se simula la propagación del sonido en un recinto se ensaya la efectividad de soluciones absorbentes. De este modo se puede predecir el efecto que tendrán los paneles instalados y seleccionar así la cantidad, tamaño y ubicación óptima</p>
</div></div></div></div>
<div class="cull2">
<div class="columnas2">	

<h3><div><span class="dropdown">Te ofrecemos el servicio de instalación de paneles.</span></div> Desde HechoSound ofrecemos la realización de este estudio acústico, así como asesoramiento durante todo el proceso de selección de nuestra gama paneles de absorción acústica y su posterior instalación con el objetivo de conseguir espacios acústicamente confortables ajustándonos a las necesidades de cada cliente. No dudes en ponerte en contacto con nosotros.</p></div>
<div class="columnas1"><img src="imagenes/servicio.png" alt="imagen ilustrativa"/></div>


</div>

    <audio src="imagenes/audio.mp3" controls autoplay></audio>
	<video controls=""><source src="imagenes/hindemith.mp4" type="video/mp4"></video>