<img src="imagenes/logo.png" alt="logo" />
                <p>Los contenidos publicados en estas páginas son en el marco de un trabajo práctico realizado por un
                        alumno de una materia del colegio CAFAM. Los textos, logotipos, fotografías, tipografías, etc.,
                        pueden no ser de su autoría y sólo son utilizados a los fines prácticos del ejercicio.</p>