<nav>
        <div class="Logo">
        <input type="checkbox" id="menu">
        <p align="right"><label for="menu"> ☰ </label></p>
        <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/diseno">Diseños</a></li>
        <li><a href="/instalacion">Instalación</a></li>
        <li><a href="/nosotros">Sobre Nosotros</a></li>
        <li><a href="/contacto">Contacto</a></li>
        </ul>
        <img id="btninicio" <a href="index.html" src="imagenes/logo.png" alt="HechoSound"></a></div></nav>