<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>


    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../partials/body-diseno'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>